* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Ark-Pixel;
    src: url("https://ark-pixel-font.takwolf.com/ark-pixel-12px-proportional-zh_cn.woff2");
}

body {
    font-family: Ark-Pixel, sans-serif;
    background-color: midnightblue;
}

input {
    font-family: Ark-Pixel, sans-serif;
}

button {
    font-family: Ark-Pixel, sans-serif;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(45deg);
    z-index: -9999;
    opacity: 0.6;
}

.page {
    padding: 64px 192px;
}

@media screen and (max-width: 1024px) {
    .page {
        padding: 64px 64px;
    }
}

@media screen and (max-width: 750px) {
    .page {
        padding: 64px 16px;
    }
}

.title {
    margin-top: 96px;
    margin-bottom: 96px;
    text-align: center;
    color: white;
    font-size: 48px;
    font-weight: normal;
    line-height: 40px;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box .tip {
    color: white;
    font-size: 24px;
}

.input-box .target-url {
    margin-top: 8px;
    padding: 4px;
    font-size: 24px;
    line-height: 24px;
}

.effect-tip {
    margin-top: 48px;
    color: white;
    font-size: 24px;
}

.effect-box {
    margin-top: 24px;
    margin-bottom: 64px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.effect-box .card {
    margin: 16px;
    display: flex;
    flex-direction: column;
}

.effect-box .card .screenshot {}

.effect-box .card .btn-go {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 24px;
}
